/.DS_Store
.DS_Store



__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

# Latex temp files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.spl
*.synctex
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.snm

out/
out_*/
data/
references/
study_guide/
